.app__about {
    flex: 1;
    width: 100%;
    flex-direction: column;
    max-width: 1300px;
  }

  h2 {
    margin-top: var(--md);
}

.app__profiles {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
    margin-top: var(--xl);
}

.app__profile-item {
    display: flex;
    justify-content: flex-start;
    align-items: flex-start;
    flex-direction: column;
    margin: var(--xl) var(--l);

    .img-container {
        width: 100%;
        height: 300px;
        display: flex;
        justify-content: center;
        align-items: center;
        img {
            width: 200px;
            height: 250px;
            border-radius: var(--md);
            object-fit: contain;
        }
    }
    

    @media screen and (min-width: 2000px){
        width: 370px;
        margin: var(--xl) var(--xxl);

        img {
            height: 320px;
        }
    }
}

